{% extends "layout.html" %}
{% block title %}Edit desk{% endblock %}
{% block content %}
    <h1 class="title">Add Card</h1>

    <form action="" method="post" name="desk_edit">
      {{ form.csrf_token }}

      <div class="field">
        <label for="word" class="label">Word</label>
        <div class="control">
          {{ form.word(required=True, autofocus=True, class='input') }}
        </div>
      </div>

      <div class="field">
        <label for="translation" class="label">Translation</label>
        <div class="control">
            {{ form.translation(required=True, autofocus=True, class='input') }}
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}