{% extends "layout.html" %}
{% block title %}Edit Desk{% endblock %}
{% block content %}
    <h1 class="title">Edit Desk</h1>

    <form action="" method="post" name="desk_edit">
      {{ form.csrf_token }}

      <div class="field">
        <div class="form-group">
        <label for="deskName" class="form-control">Title</label>
          {{ form.deskName(required=True, autofocus=True, class='input') }}
        </div>
        <div class="form-group">
          <select class="form-control" name="languageID">
            {% for language in languages %}
            <option value="{{language.id}}">{{language.fromLanguage}} to {{language.toLanguage}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}