{% extends "layout.html" %}
{% block title %}Edit Desk{% endblock %}
{% block content %}
    <h1 class="h1 mb-3 font-weight-normal">Edit Desk</h1>
    <form action="" method="post" name="desk_edit">
      {{ form.csrf_token }}

      <div class="form-group row">
        <label for="deskName" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          {{ form.deskName(required=True, autofocus=True, class='form-control',placeholder='title') }}
        </div>
      </div>
      <div class="form-group row">
        <label for="languageID" class="col-sm-2 col-form-label">Language</label> 
        <div class="col-sm-10">
          <select class="custom-select" name="languageID">
            {% for language in languages %}
            <option value="{{language.id}}">{{language.fromLanguage}} to {{language.toLanguage}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-2">Save</button>

    </form>
{% endblock %}