{% extends "layout.html" %}
{% block title %}Desk{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <h1 class="h1 mb-3 font-weight-normal">{{ desk.deskName }}</h1> 
    <p>{{languagestr}}</p>
  </div>
  <div class="col-sm">
    {% if current_user.is_admin and cards %}
      <a class="btn btn-secondary float-right mb-2" href="{{ request.path }}/study">Study Desk</a>
    {% endif %} 
    {% if not current_user.is_admin %}
    <form action="/" method="post" name="add_desk">
      <button class="btn btn-primary mb-2" name="deskID" value="{{deskID}}">
        <a href="{{ url_for('home_page') }}">Add to my Desks</a>
      </button>
    </form>
    {% endif %} 
  </div>
</div>

    {% if cards %}
    <form action="" method="post" name="card_list">
      <table class="table">
        <thead>
          <tr>
            {% if current_user.is_admin %}
            <th>Select</th>
            {% endif %}
            <th>Word</th>
            <th>Translation</th>
          </tr>
        </thead>
        <tbody>
          {% for flashID, card in cards %}
            <tr>
              {% if current_user.is_admin %}
              <td>  
                <label class="checkbox">
                  <input type="checkbox" name="flashIDs" value="{{ flashID }}"/>
                </label>                                            
              </td>
              {% endif %}
              <td><a href="{{ request.path }}/{{ flashID}}">{% if card.wordform %}<small>{{ card.wordform }} </small>{% endif %}{{ card.word }}</a></td>
              <td><a href="{{ request.path }}/{{ flashID}}">{{ card.translation}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if current_user.is_admin %}
      <button type="submit" class="btn btn-primary mb-2">Delete Cards</button>
      {% endif %}
    </form>
    {% endif %}

    {% if current_user.is_admin %}
    <div class="row"></div>
      <div class="control">
        <a class="btn btn-primary mb-2"
           href="{{ request.path }}/edit">Edit</a>
        <a class="btn btn-primary mb-2"
           href="{{ request.path }}/add_card">Add Card</a>
      </div>
   
    <form action="/desks" method="post" name="delete_desk">
      <button class="btn btn-primary mb-2" name="deskID" value="{{deskID}}">Delete Desk</button>
    </form>
  </div>
    {% endif %}
{% endblock %}

