{% extends "layout.html" %}
{% block title %}Desk{% endblock %}
{% block content %}
    <h1 class="title">{{ desk.deskName }}</h1>

<!--     <table class="table">
      <tr>
        <th>Title:</th>
        <td>{{ desk.deskName }}</td>
      </tr>
    </table>
 -->
    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/study">Study Desk</a>
      </div>
    </div>
    {% endif %}
    
    {% if cards %}
    <form action="" method="post" name="card_list">
      <table class="table is-striped is-fullwidth">
        {% for flashID, card in cards %}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="flashIDs" value="{{ flashID }}"/>
            </label>
            <a href="{{ request.path }}/{{ flashID}}">
              {{ card.word }}
              {{ card.translation}}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </form>
    {% endif %}

    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/add_card">Add Card</a>
      </div>
    </div>
    <form action="/desks" method="post" name="delete_desk">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small" name="deskID" value="{{deskID}}">Delete Desk</button>
        </div>
      </div>
    </form>
    {% endif %}
{% endblock %}

