<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>My desks - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='cover.css') }}"/>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">FlashMemory</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
        {% if not current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('login_page') }}">Log in</a>
        <a class="nav-link" href="{{ url_for('signin_page') }}">Sign in</a>
            {% else %}
              <!-- {{ current_user.username }} -->
              <a class="nav-link" href="{{ url_for('desks_page') }}">List desks</a>
              <a class="nav-link" href="{{ url_for('desk_add_page') }}">Add desk</a>
              <a class="nav-link" href="{{ url_for('logout_page') }}">Log out</a>
        {% endif %}
      </nav>
    </div>
  </header>

    <main role="main" class="inner cover">
      {% for message in get_flashed_messages() %}
      <div class="notification is-info">{{ message }}</div>
      {% endfor %}
      
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
       
      </div>
    </footer>
  </div>
  </body>
</html>