{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <form class="form-signin" action="" method="post" name="login">
      {{ form.csrf_token }}
      <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
      <label for="username" class="sr-only">Username</label>
          {{ form.username(required=True, autofocus=True,
                            class='form-control',
                            placeholder='your username') }}
        {% for error in form.username.errors %}
          <p class="help has-background-warning">
              {{ error }}
          </p>
        {% endfor %}
      <label for="password" class="sr-only">Password</label>
          {{ form.password(required=True, class='form-control',
                            placeholder='your password') }}
        {% for error in form.password.errors %}
          <p class="help has-background-warning">
              {{ error }}
          </p>
        {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Login
      </button>
    </form>
{% endblock %}