{% extends "layout.html" %}
{% block title %}Signin{% endblock %}
{% block content %}
    <form class="form-signin" action="" method="post" name="login">
      {{ form.csrf_token }}
      <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
      <label for="username" class="sr-only">Username</label>
          {{ form.username(required=True, autofocus=True,
                            class='form-control',
                            placeholder='your username') }}
        {% for error in form.username.errors %}
          <p class="help has-background-warning">
              {{ error }}
          </p>
        {% endfor %}
      
      <label for="password" class="sr-only">Password</label>
          {{ form.password(required=True, class='form-control',
                            placeholder='your password') }}
        {% for error in form.password.errors %}
          <p class="help has-background-warning">
              {{ error }}
          </p>
        {% endfor %}

      <label for="mail" class="sr-only">Mail</label>
            {{ form.mail(required=True, autofocus=True,
                              class='form-control',
                              placeholder='your mail') }}
          {% for error in form.mail.errors %}
            <p class="help has-background-warning">
                {{ error }}
            </p>
          {% endfor %}

      <label for="name" class="sr-only">Name</label>
            {{ form.firstName(autofocus=True,
                              class='form-control',
                              placeholder='your first name') }}
          {% for error in form.firstName.errors %}
            <p class="help has-background-warning">
                {{ error }}
            </p>
          {% endfor %}

      <label for="surname" class="sr-only">Surname</label>
            {{ form.lastName( autofocus=True,
                              class='form-control',
                              placeholder='your last name') }}
          {% for error in form.lastName.errors %}
            <p class="help has-background-warning">
                {{ error }}
            </p>
          {% endfor %}                
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign up
      </button>
    </form>
{% endblock %}