{% extends "layout.html" %}
{% block title %}Words{% endblock %}
{% block content %}
    <h1 class="title">Words</h1>
   
    {% if words %}
      <table class="table">
        <thead>
          <tr>
            <th>Word</th>
            <th>Part-of-speech</th>
            <th>Last practiced</th>
            <th>Repetition</th>
          </tr>
        </thead>
        <tbody>
          {% for word, wordform, studytimestamp, repetition in words %}
          <tr>
            <td>{{word}}</td>
            <td>{{wordform}}</td>
            <td>{{studytimestamp}}</td>
            <td>{{repetition}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

{% endblock %}

